/* Common Shared Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
 
}

/* Header section related styles */

.banner-container{
    height: 85vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    padding: 0 240px;
}

.banner-title{
   color: #272727;
   font-size: 70px;
   font-weight: 800;
}

.banner-description{
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}
.banner-img{
    width: 635px;
    height: 800px;
    margin-bottom: -22px;

}

/* Featured flower section related styles */

.featured-section-container{
    height: 100vh;
    padding: 200px;
}
.featured-flower-container{
    margin-top: 70px;
    display: flex;
    gap: 20px;
}

.featured-flower-heading{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.featured-flower-description{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
  margin: auto;
  margin-top: 20px;
}

.featured-flower-column{
  width: 464px;
  height: 538px;
  text-align: center;
}
.featured-flower-column li{
list-style-type: none;
text-decoration: underline;
color: #272727;
font-size: 24px;
font-weight: 700;
line-height: 35px;
margin-top: 20px;
}

.featured-flower-img{
    width: 464px;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
#bg-2{
    background: rgba(5, 151, 160, 0.15);
}

#bg-3{
    background: rgba(71, 125, 17, 0.15);
}
.flower-img{
    width: 310px;
    height: 428px;
}